include LICENSE
include README.md
recursive-include wayne data *
include wayne/oec_data_base/*
include wayne/pyparallel_menu.c
include wayne/pyparallel_menu.h
include wayne/pyparallel.c
include wayne/pyparallel.pyx
include wayne/pyparallel.so