astropy==2.0.6
cython==0.28.2
docopt==0.6.2
exodata==2.1.7
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
pysynphot==0.9.12
PyYAML==3.12
quantities==0.12.2
scipy==1.1.0
ephem==3.7.6.0
pylightcurve==2.2.5
